<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dream Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css"
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">
      <h1>Dream Car Database</h1>
      <h2>Let us know what your dream car is!</h2>
    </div>
      <form class="" action="/" method="post">
        <label for="make">Make</label>
        <input type="text" name="make" value="" placeholder="ex: Porsche">
        <label for="year">Year</label>
        <input type="text" name="year" value="" placeholder="ex: 2017">
        <label for="doors">Doors</label>
        <input type="text" name="doors" value="" placeholder="2">
        <label for="image">Image</label>
        <input type="text" name="image" placeholder= "Enter Dream Car URL" value="">
        <input type="submit" name="submit" value="Add Car">
      </form>
      {{#cars}}
      <p>{{make}}</p>
      <p>{{year}}</p>
      <img src={{image}} class="img-rounded" alt="Cinque Terre" width=60% height=40%>
      <form class="add" action="/delete" method="post">
        <button name="id" value="{{_id}}">Remove Car</button>
      </form>
      {{/cars}}
    </div>
  </body>
</html>
